<header class="header">
  <div class="logo">
    <app-logo></app-logo>
  </div>

  <div>
    <div class="header-content">
      <app-search-bar></app-search-bar>

      <div class="icones">
        <svg
          [routerLink]="'/profile'"
          routerLinkActive="profile-active"
          [routerLinkActiveOptions]="{ exact: true }"
          fill="#b9193c"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          class="profile"
        >
          <path
            d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z"
          />
        </svg>

        <svg
          [routerLink]="'/menu'"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="#b9193c"
          height="24px"
          class="menu"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </div>
    </div>

    <app-navigation-buttons></app-navigation-buttons>
  </div>
</header>
