.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d2d2d2;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 0px 5px;
  cursor: pointer;
}

.icones {
  display: flex;
  margin: 10px;
  gap: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu {
  stroke-width: 2;
  border-radius: 6px;
  transition: all 0.2s;
}

.menu:active {
  transform: scale(0.95);
}

.menu-active{
  outline: 1px solid #b9193c;
}

.profile{
  border-radius: 6px;
  transition: all 0.2s;
}

.profile:active{
  transform: scale(0.95);
}

.profile-active{
  outline: 1px solid #b9193c;
}
